extends ../layouts/default
mixin step(message, icon_name, link, link_text)
    .row: .col.s12: .card: .card-content
        span.card-title.blue-text
            i.material-icons= icon_name
        p
        = __(message)
        .card-action
            a(href=link)= __(link_text)

block content
    .container 
        +step("howItWorks.step1", 'account_circle', '/signin', 'here')
        +step("howItWorks.step2",'create', '/order', 'here')
        +step("howItWorks.step3", 'contact_phone', '/signin', 'more details')        
        +step("howItWorks.step4", 'loop', '/signin', 'here')        
        +step("howItWorks.step5", 'shuffle', '/signin', 'here')                