extends ../layouts/default

block content
	.container
		img(src='/images/logo.svg', width='160')
		#index-banner.section.no-pad-bot: .container
			h1.header.center.orange-text= __("Welcome") 
			.row.center
				h5.header.col.s12.light A modern responsive front-end framework based on Material Design
			.row.center
				a#download-button.btn-large.waves-effect.waves-light.orange(href='http://materializecss.com/getting-started.html') Get Started
			br
	.container: .section: .row
		.col.s12.m4: .icon-block
			h2.center.light-blue-text
				i.material-icons flash_on
			h5.center Speeds up development
			p.light
				| We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.
block js
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
