include ../mixins/single-order

extends ../layouts/default
block content
    .container
        if !user.emailConfirmed
            .section: h5.pink-text= __("Please confirm your email. We have sent you an email containing the link to do this!")
        .row: .col.s12
                h5= __("My orders")
                each o in myOrders
                    +single-order(o)
                .divider
                .section
                    a.btn.blue(href='/order/btcbuy')= __("Buy")
                    a.btn.blue(href='/order/btcsell')= __("Sell")

